*{
    margin:0 auto;
}

body{
    background-color: aqua;
}

main,header{
    width: 80%;
    background-color: black;
}

#nav{
    height: 40px;
    background-color:black;
    display:grid;
    justify-content:flex-start
}

li a:hover{
    background-color: rgb(199, 6, 44);
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 0.7;
}

.menu>li{
    position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #0af2f6;
	transition: all.1s;
    text-decoration-line: underline;
}

.submenu{
	position: absolute;
	background: #f51606;
	width: 120%;
	visibility: hidden;
	opacity: 1;
	transition: 0.2s;
	text-decoration: none;
}

.submenu>dl>a{
    color:white;
    text-decoration: none;
}

#principal{
    background-color: rgb(102, 104, 103);
}
#principal>h1{
    color:white;
    font-size:4em;
    text-align: center;
}

.tarjetas{
    width:60%;
    background-color: burlywood;
}

.cards>img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px opx 30px #000;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(
        auto-fit,
        minmax(150px ,1fr)
    ) ;
    gap:32px;
}