@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#nom {
    text-align: center;
    color: white;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 300px;
    font-size: 5em;
    font-style: normal;
    margin-bottom: 20px;
}

body {
    background-color: rgb(0, 0, 0);
}

h4 {
    color: white;
}

figcaption span,
h2,
p {
    color: white;
}


.container-movies {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

li a:hover {
    transform: scale(1.1);
}

.navBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.558) !important;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    position: fixed;
    z-index: 999;
    transition: all 400ms ease-in-out;
}

.menu a{
    font-size: 18px;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.menu .submenu a{
    color: #C8C8C8;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #c8c8c8;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s ease;
}

.menu>li a:hover {
    transform: scale(1.3);
    color: #FFF;
}

.submenu {
    position: absolute;
    background: rgba(0, 0, 0, 0.558);
    backdrop-filter: blur(20px);
    width: 120%;
    visibility: hidden;
    opacity: 1;
    transition: 1s;
    text-decoration: none;
}

.submenu>dl>a {
    color: white;
    text-decoration: none;
}

.cartelera {
    padding: 100px 0px 100px 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titleCartelera {
    color: white;
    font-size: 50px;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

.tarjetas {
    width: 60%;
    background-color: burlywood;

}

.cards>img {
    border-radius: 8px;
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 30px #000;
}

#cuadro {
    background-color: black;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
            minmax(170px, 2fr));
    gap: 15px;
}



.peli_nom {
    text-align: center;
}

/* Inicio carrusel css*/

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 1000px;
    height: 300px;
    margin: auto;
}

/* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
.carousel-control {
    width: 5%;
}

.carousel {
    margin: 0;
    padding: 0;
    width: 90%;

}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
}

/*Fin carrusel*/

.movieBox {
    padding: 5px;
    border: dashed 3px #0026ff;
    margin-top: 5px;
}

.theatersInfo {
    margin-top: 5px;
    background-color: #f0eaea;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border: double 3px #b200ff;
}

/* Showtimes section */
.showtimes {
    flex: 1 0 50%;
    padding-left: 10%;
    color: white;
}

.showtimes h3 {
    margin-bottom: 10px;
}

.theater {
    margin-bottom: 15px;
}

.theater h4 {
    margin-bottom: 5px;
}

.trailer {
    margin-top: 10%;
}

.trailer h4 {
    margin-bottom: 5px;
}

.showtimes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.showtimes-list li {
    margin-bottom: 5px;
    color: white;
}

/* Movie info section */
.movie-info {
    flex: 1 0 50%;
    margin-bottom: 20px;
}

.poster {
    width: 100%;
    object-fit: cover;
}

.details {
    padding: 10px;
}

.details h2 {
    margin-bottom: 10px;
}

.genres {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
}

.genres span {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid white;

}

.rating {
    display: flex;
    align-items: center;
}

.stars {
    color: gold;
}

.average {
    margin-left: 10px;
}

/* Media Querys */
/* Large desktop */
@media (min-width: 1200px) {
    .showtimes {
        padding-left: 10%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .showtimes {
        padding-left: 5%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .showtimes {
        padding-left: 5%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .showtimes {
        padding-left: 5%;
    }
}